# Ignore virtual environment
venv/
env/

# Ignore Django and Python files
*.pyc
__pycache__/
db.sqlite3

# Ignore environment variables
.env

# Ignore IDE files
.vscode/
.idea/

# Static and media files
static/
media/
